<br />
<div class="container">

  <div class="row">
    <a href="/ttt" style="display:block;">
      <div id="ttt-index" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-nav">
        <div>
          <h2>Tic Tac Toe</h2>
        </div>
      </div>
    </a>
  </div>
  <br />
  <div class="row">
    <div id="hangman-index" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-nav">
      <a href="/hangman" style="display:block;">
        <div>
          <h2>Hangman</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div id="memory-index" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-nav">
      <a href="/memory" style="display:block;">
        <div>
          <h2>Memory</h2>
        </div>
      </a>
    </div>
  </div>

</div>

<hr />
  <a href="/ttt" class="btn btn-primary active" role="button">Tic-Tac-Toe</a>
<hr />
  <a href="/hangman" class="btn btn-primary active" role="button">Hangman</a>
  <hr />
    <a href="/memory" class="btn btn-primary active" role="button">Memory</a>
