
  <secion class="memory-board">
    <div class="row text-center">
      <div class="col-md-12 col-sm-11 col-xs-11">
        <h1 id="memory-head">Memory</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div id="game-board" class="board">
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div id="1" class="card"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div  id="2" class="card"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div  id="3" class="card"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div  id="4" class="card"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div  id="5" class="card"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div  id="6" class="card"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div  id="7" class="card"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div  id="8" class="card"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div  id="9" class="card"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div  id="10" class="card"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div  id="11" class="card"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div  id="12" class="card"></div>
          </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 col-sm-11 col-xs-11">
      <h1 id="memory-foot"></h1>
    </div>
  </div>
  <a href="/" class="btn btn-primary active" role="button">Home</a>
  </secion>
