<div id="ttt-container" class="container">
  <div class="row text-center">
    <div class="col-md-12 col-sm-11 col-xs-11">
      <h1 id="ttt-head">Tic Tac Toe</h1>
    </div>
  </div>


  <div id="scoreboard" class="row">
    <div id="wins" class="col-md-4 col-sm-4 col-xs-4 ">
      <p>Wins: 0</p>
    </div>
    <div id="losses" class="col-md-4 col-sm-4 col-xs-4">
      <p>Losses: 0</p>
    </div>
    <div id="ties" class="col-md-4 col-sm-4 col-xs-4">
      <p>Ties: 0</p>
    </div>
  </div>



    <!-- Gameboard Grid  -->

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3" id="board">
      <div class="row">
        <div id="topLeft" class="col-md-4 col-sm-4 col-xs-4 box"></div>
        <div id="topMiddle" class="col-md-4 col-sm-4 col-xs-4 box"></div>
        <div id="topRight" class="col-md-4 col-sm-4 col-xs-4 box"></div>
      </div>
      <div class="row">
        <div id="midLeft" class="col-md-4 col-sm-4 col-xs-4 box"></div>
        <div id="midMiddle" class="col-md-4 col-sm-4 col-xs-4 box"></div>
        <div id="midRight" class="col-md-4 col-sm-4 col-xs-4 box"></div>
      </div>
      <div class="row">
        <div id="botLeft" class="col-md-4 col-sm-4 col-xs-4 box"></div>
        <div id="botMiddle" class="col-md-4 col-sm-4 col-xs-4 box"></div>
        <div id="botRight" class="col-md-4 col-sm-4 col-xs-4 box"></div>
      </div>
    </div>
  </div>

    <!-- Reset Button -->
    <button type="button" class="btn btn-success ttt-btn">Reset</button>
    <a href="/" class="btn btn-primary active" role="button">Home</a>

</div>
